/* ------- CHANNEL LIKE DISLIKE SECION ------- */
.right {
  display: flex;
}
.like-section {
  display: flex;
  width: 80px;
}
.like-icon {
  margin-left: 30px;
  font-size: 30px;
}
.like-count {
  color: gray;
  font-size: 22px;
  padding: 3px 0px 0 5px;
}

.like-section-active {
  display: flex;
  border: none;
  border-bottom: 1px solid #065fd4;
  padding: 0 0 0 10px;
  width: 80px;
}
.like-icon-active {
  margin-left: 20px;
  font-size: 30px;
}
.like-count-active {
  color: #065fd4;
  font-size: 22px;
  padding: 3px 0px 0 5px;
}

/* =================================== Channel detials css =================================== */
hr {
  border: .1px solid rgb(230, 230, 230);
  margin: 0 110px 0 110px;
}
.middle-hr {
  border: .1px solid rgb(230, 230, 230);
  margin: 0 110px 0 110px;
  width: 750px;
}

.video-detilas-main-div{
  display: flex;
  margin-top: 10px
}
.sid-blank-div {
  width: 100px;
}
.channel-logo-div {
  width: 65px;
}
.channel-logo-div img {
  width:50px;
  border-radius: 100%;
}
.channel-title-div{
  width:600px;
  margin-top:9px;
}
.channel-title-div .sub-count{
  font-size: 13px;
}
.channel-title-div .description{
  font-size: 15px;
}
.channel-subscribe-btn-div button {
  background-color: red;
  color: rgb(255, 255, 255);
  margin-top: 14px;
  width: 111px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  height: 30px;
}
.channel-subscribe-btn-div {
  width: 150px;
  display: flex;
}
.channel-subscribed-btn-div {
  width: 150px;
  display: flex;
}
.channel-subscribed-btn-div button {
  background-color: rgb(240, 240, 240);
  color: rgb(145, 145, 145);
  margin-top: 14px;
  width: 111px;
  padding: 6px;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  border: none;
}

/* SIDE VIDEOS DIV CSS */
.side-video-div {
  padding: 2px 0 0 10px;
  width: 440px;
  display: flex;
}
.side-video-img-div img {
  width: 140px;
}
.side-video-details-div {
  padding: 3px 0 0 10px;

}
.side-video-details-div .title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.side-video-details-div .channel {
  font-size: 12px;
  color: black;
}
.side-video-details-div .view-and-date {
  font-size: 12px;
}

/* ============================== COMMENTS CSS =================================== */

.video-comments-main-div{
  display: flex;
  margin-top: 10px;
}
.comments-posting-div {
  width: 750px;
  padding: 2px 0px 10px 2px;
}
.comments-posting-div p {
  font-size: 17px;
}
.comments-posting-inner-div {
  display: flex;
}
.comments-posting-inner-div img {
  margin: 18px 0 0 0;
  border-radius: 50%;
  width: 40px;
}
.comments-posting-inner-div input {
  margin-left: 10px;
  height: 29px;
  margin-top: 24px;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid rgb(163, 163, 163);
  width:700px;
  padding: 3px;
}
.comments-posting-inner-div  input:focus {
  outline: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.comments-posting-inner-div-buttons {
  float: right;
  margin: 10px 0px 0 6px;
}
.comments-posting-inner-div-buttons .submit-btn {
  background-color: rgb(31, 103, 197);
  border: none;
  color: white;
  width: 86px;
  height: 29px;
  font-size: 15px;;
  font-weight: lighter;
}
.comments-posting-inner-div-buttons .cancle-btn {
  background-color: white;
  border: none;
  color: rgb(160, 160, 160);
  width: 83px;
  height: 29px;
  font-size: 16px;;
  font-weight: bold;
}
/* ======= replay comment div css ======= */
.reply-main-div {
  width: 750px;
  padding: 2px 0px 10px 32px;
}
.reply-inner-div input {
  margin-left: 10px;
  height: 29px;
  margin-top: 0;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid rgb(163, 163, 163);
  width:700px;
  padding: 3px;
}

/* ====== COMMENT SHOWING DIV CSS ====== */
.comments-showing-div {
  display: flex;
  width: 750px;
}
.comments-showing-inner-div {
  display: flex;
  flex-wrap: wrap;
}
.commented-user-image {
  display: flex;
}
.commented-user-image img {
  border-radius: 50%;
  height: 45%;
  width: 38px;
}
.commented-user-comment {
  margin: 0 0 0 10px;
}
.commented-user-comment .user {
  font-size: 14px;
  font-weight: bold;
}
.commented-user-comment .user .date {
  font-size: 14px;
  color: gray;
  font-weight: normal;
}
.commented-user-comment .comment {
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin: 10px 0 0 0;
  width: 100%;
}

.cmnt-dis_like-main-div {
  display: flex;
}
.commented-user-comment .comment-like {
  font-size: 18px;
  color: rgb(168, 168, 168);
  margin: 13px 7px 0 0;
}
.commented-user-comment .comment-like-count {
  font-size: 13px;
  color: rgb(168, 168, 168);
  padding: 14px 7px 0px 0;
}
.commented-user-comment .comment-dislike {
  font-size: 18px;
  color: rgb(168, 168, 168);
  margin: 13px 7px 0 0;
}
.commented-user-comment .comment-like-active, 
.commented-user-comment .comment-dislike-active {
  color: #065fd4;
  font-size: 18px;
  margin: 13px 7px 0 0;
}


.commented-user-comment .replay {
  font-size: 14px;
  color: rgb(109, 109, 109);
  margin: 13px 0 0 23px;
}
.reply-showing-inner-div {
  margin: 2px 0 0 34px;
  padding: 10px;
}
.reply-showing-inner-div .commented-user-image img {
  width: 29px;
  height: 25px;
}
.show-reply {
  color: #065fd4;
  font-size: 17px;
  margin: 2px 0 0 50px;

}

/* LOADING ANIMATIOM ================================== */
.loader-main-div {
  justify-content: flex-start;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  width: 750px;
}
.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #8f8f8f;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}