/* ------- CHANNEL LIKE DISLIKE SECION ------- */
.right {
  display: flex;
}
.like-section {
  display: flex;
}
.like-icon {
  margin-left: 30px;
  font-size: 30px;
}
.like-count {
  color: gray;
  font-size: 22px;
  padding: 3px 0px 0 5px;
}

.like-section-active {
  display: flex;
  border: none;
  border-bottom: 1px solid #065fd4;
  padding: 0 0 0 10px;
}
.like-icon-active {
  margin-left: 30px;
  font-size: 30px;
}
.like-count-active {
  color: #065fd4;
  font-size: 22px;
  padding: 3px 0px 0 5px;
}

/* =================================== Channel detials css =================================== */
hr {
  border: .1px solid rgb(230, 230, 230);
  margin: 0 110px 0 110px;
}
.middle-hr {
  border: .1px solid rgb(230, 230, 230);
  margin: 0 110px 0 110px;
  width: 750px;
}

.video-detilas-main-div{
  display: flex;
  margin-top: 10px
}
.sid-blank-div {
  width: 100px;
}
.channel-logo-div {
  width: 65px;
}
.channel-logo-div img {
  width:50px;
  border-radius: 100%;
}
.channel-title-div{
  width:600px;
  margin-top:9px
}
.channel-title-div .sub-count{
  font-size: 13px;
}
.channel-title-div .description{
  font-size: 15px;
}
.channel-subscribe-btn-div button {
  background-color: red;
  color: rgb(255, 255, 255);
  margin-top: 14px;
  width: 111px;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  border: none;
}
.channel-subscribed-btn-div {
  width: 150px;
  display: flex;
}
.channel-subscribed-btn-div button {
  background-color: rgb(240, 240, 240);
  color: rgb(145, 145, 145);
  margin-top: 14px;
  width: 111px;
  padding: 6px;
  font-size: 15px;
  font-weight: bold;
  height: 30px;
  border: none;
}
.channel-subscribed-btn-div .notfc-icon {
  padding: 17px 0 0 7px;
}

/* SIDE VIDEOS DIV CSS */
.side-video-div {
  padding: 2px 0 0 10px;
  width: 440px;
  display: flex;
}
.side-video-img-div img {
  width: 140px;
}
.side-video-details-div {
  padding: 3px 0 0 10px;

}
.side-video-details-div .title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}
.side-video-details-div .channel {
  font-size: 12px;
  color: black;
}
.side-video-details-div .view-and-date {
  font-size: 12px;
}

/* ============================== COMMENTS CSS =================================== */
.video-comments-main-div{
  display: flex;
  margin-top: 10px;
  height: 130px;
}
.comments-posting-div {
  /* background: rgb(214, 214, 214); */
  width: 750px;
  padding: 2px 0px 10px 2px;
}
.comments-posting-div p {
  font-size: 17px;
}
.comments-posting-inner-div {
  display: flex;
}
.comments-posting-inner-div img {
  margin: 18px 0 0 0;
  border-radius: 50%;
  width: 40px;
}
.comments-posting-inner-div input {
  margin-left: 10px;
  height: 29px;
  margin-top: 24px;
  border: none;
  font-size: 15px;
  border-bottom: 2px solid rgb(163, 163, 163);
  width:700px;
  padding: 3px;
}
.comments-posting-inner-div  input:focus {
  outline: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.comments-posting-inner-div-buttons {
  float: right;
  margin: 10px 0px 0 6px;
}
.comments-posting-inner-div-buttons .submit-btn {
  background-color: rgb(31, 103, 197);
  border: none;
  color: white;
  width: 86px;
  height: 29px;
  font-size: 15px;;
  font-weight: lighter;
}
.comments-posting-inner-div-buttons .cancle-btn {
  background-color: white;
  border: none;
  color: rgb(160, 160, 160);
  width: 83px;
  height: 29px;
  font-size: 16px;;
  font-weight: bold;
}

/* ====== COMMENT SHOWING DIV CSS ====== */
.comments-showing-div {
  display: flex;
  width: 750px;
}
.commented-user-image img {
  border-radius: 50%;
  width: 38px;
}
.commented-user-comment {
  margin: 0 0 0 10px;
}
.commented-user-comment .user {
  font-size: 14px;
  font-weight: bold;
}
.commented-user-comment .user .date {
  font-size: 14px;
  color: gray;
  font-weight: normal;
}
.commented-user-comment .comment {
  font-size: 16px;
  color: black;
  font-weight: normal;
  margin: 10px 0 0 0;
}
.commented-user-comment .like {
  font-size: 19px;
  color: rgb(168, 168, 168);
  margin: 13px 7px 0 0;
}
.commented-user-comment .like-count {
  font-size: 19px;
  color: rgb(168, 168, 168);
  padding: 10px 7px 0px 0;
}
.commented-user-comment .dislike {
  font-size: 18px;
  color: rgb(168, 168, 168);
  margin: 13px 0 0 0;
}
.commented-user-comment .replay {
  font-size: 18px;
  color: rgb(109, 109, 109);
  margin: 13px 0 0 23px;
}

