.video_card {
    width:300px;
    margin: 10px 7px 1px 0;
    height: 265px;
}
.video_card__image {
    min-height: 160px;
    max-height: 160px;
    /* position: relative;
    display: inline-block; */
}
.video_card__image > img {
    width: 100%;
    min-height: 160px;
    max-height:160px
}
.video_card__content {
    display: flex;
    padding: 7px 0 0 0;
}
.video_card__channelpicture  > span{
    font-size:35px;
    padding:0px 15px 0px 0px;
}
.video_card__title {
    display: inline-block;
    padding: 0 0 0 4px;
    display: block;
    font-size: 17px;
    color: #202020;
    font-weight: 600;
    white-space: wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.video_card__channelname {
    display: block;
    color: #838383;
    font-size:12px;
    margin-top: 5px;
    font-weight: 600;
}
.video_card__view ,.video_card__date{
    display: inline-block;
    color: #838383;
    font-size:15px;
    margin-top: 5px;
    font-weight: 600;
}
