.sidebar {
  min-width: 233px;
  max-width: 233px;
}
.sidebar__fixed {
  position: fixed;
  min-width: 233px;
  max-width: 233px;
  min-height: calc(100vh - 44px);
  max-height: calc(100vh - 44px);
  overflow-y: scroll;
}
.sidebar__fixed hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0.2px #e2e1e1 solid;
}
.sidebar__fixed ul {
  margin-top: 12px;
}
.sidebar__fixed::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ffffff;
}

.sidebar__fixed::-webkit-scrollbar {
  width: 9px;
  background-color: #f5f5f5;
}

.sidebar__fixed::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c7c6c6;
}
