.video-dlt-icon:hover {
    color: red;
    cursor: pointer;
}
.video-edit-icon:hover {
    color: rgb(0, 247, 255);
    cursor: pointer;
}

/* #myProgress { width: 100%;  background-color: grey; } 
#myBar { width: 1%;  height: 30px;  background-color: rgb(7, 169, 233); }
 */
