* {
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}
body {
  margin: 0;
  /* font-family: 'Ubuntu', sans-serif; */
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
