
.container {
    background: rgb(255, 255, 255);
    border: 3px solid #ffff;
    border-radius: 10px;
    height: 400px;
    width: 50%;
    margin-left: 25%;
    margin-top: 115px;
}

.container .login-text {
    color: rgb(37, 37, 37);
    text-align: center;
    margin-top: 24px;
    margin-bottom: 30px;
}

.login-div {
    padding: 0 80px;
}

.username-input {
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    width: 100%;
    height: 32px;
    padding: 14px;
    font-size: 15px;
}
.password-input {
    border: 1px solid #d9d9d9;
    border-radius: 6px;
    width: 100%;
    height: 32px;
    padding: 14px;
    font-size: 15px;
}
.text-danger {
    color: red;
    font-size: 12px;
}
.login-btn {
    width: 100%;
    margin-top: 10px;
    background: #1890ff;
    border: 2px solid #1890ff;
    border-radius: 4px;
    height: 40px;
    color: white;
    font-size: 25px;
}
.login-btn:hover {
    background: #0f88f8;
    color: white;
}