.main {
    width: 1260px;
}
.my-cmnt-txt {
    padding: 0px 0 0 16px;
    color: black;
}
.my-comments-main-div {
    width: 100%;
    margin: 15px 0 0 0;
    padding: 7px;
    display: flex;
    border: none;
    border-bottom: 1px solid #c2c2c2;
    padding: 0px 0 0 16px;
}
.my-comments-main-div:hover {
    background: rgb(248, 248, 248);
}
.channel-logo {
    width: 4%;
}
.channel-logo img {
    width: 50px;
    border-radius: 50%;  
}
.channel-and-comment-details {
    width: 66%;
    padding: 5px 0 0 14px;
}
.channel-and-comment-details .channel_name {
    font-size: 15px;
    color: #0092ac;
    font-weight: bold;
}
.channel-and-comment-details .comment {
    color: rgb(26, 26, 26);
    font-size: 18px;
}
.video-thumbnail {
    width: 10%;
    padding: 10px 0 0 10px;
}
.video-thumbnail img {
    width: 100px;
}
.video-title {
    width: 20%;
}
.video-title p {
    padding: 10px 0 0 0;
    font-size: 17px;
    color: slategray;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 150px;
}

@media screen and (max-width: 1390px) {
    .channel-and-comment-details {
        width: 60%;
        padding: 5px 0 0 14px;
    }  
}
@media screen and (max-width: 1355px) {
    .channel-and-comment-details {
        width: 56%;
        padding: 5px 0 0 14px;
    }
    .video-title {
        width: 10%;
    }
}
@media screen and (max-width: 1200px) {
    .video-title p {
        padding: 10px 0 0 20px;
    } 
}
@media screen and (max-width: 985px) {
    .video-title p {
        padding: 10px 0 0 50px;
    } 
    .channel-and-comment-details .channel_name {
        margin: 0 0 0 15px;
    }
    .channel-and-comment-details .comment {
        margin: 0 0 0 15px;
    }
}
@media screen and (max-width: 670px) {
    .video-title p {
        padding: 10px 0 0 80px;
    }
    .channel-and-comment-details .channel_name {
        margin: 0 0 0 25px;
    }
    .channel-and-comment-details .comment {
        margin: 0 0 0 25px;
    }
}